/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.testing
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
worker.log
/.idea
/.vscode
_ide_helper.php
.editorconfig
.phpstorm.meta.php
_ide_helper_models.php
/.env.dusk.local
/.fuse_hidden*
/docker/postgres/data/*
/docker/es/*
